<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.qfedu.dao.DepartDao">
    <resultMap id="departmap" type="com.qfedu.pojo.Depart">
        <id column="id" property="id"></id>
        <result column="dname" property="name"></result>
        <result column="createtime" property="createtime"></result>
        <result column="dflag" property="flag"></result>
    </resultMap>
    <select id="selectDepartName" resultMap="departmap">
        SELECT id,name as dname from t_depart
    </select>
</mapper>