<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.qfedu.dao.StudentDao">
	
	<resultMap id="stuMap" type="com.qfedu.pojo.Student">

		<id column="no" property="no"></id>
		<result column="name" property="name"></result>
		<result column="sex" property="sex"></result>
		<result column="birthday" property="birthday"></result>
		<result column="cardno" property="cardno"></result>
		<result column="school" property="school"></result>
		<result column="education" property="education"></result>
		<result column="gid" property="gid"></result>
		<result column="flag" property="flag"></result>
		<result column="email" property="email"></result>
		<result column="qq" property="qq"></result>
		<result column="phone" property="phone"></result>
		<result column="introno" property="introno"></result>
		<result column="createdate" property="createdate"></result>
		<result column="photo" property="photo"></result>
		<association property="grade" resultMap="com.qfedu.dao.GradeDao1.gradeMap"></association>
		<association property="staff" resultMap="com.qfedu.dao.StaffDao.staffmap"></association>

	</resultMap>



	<select id="findAllStu" resultMap="stuMap">

		select s.*,g.id,g.name as gname,g.flag as gname,g.week,g.createdate,g.location,g.cid from t_student s left outer join t_grade g on s.gid = g.id

	</select>



	<select id="findStaffAll" resultMap="com.qfedu.dao.StaffDao.staffmap">
		select * from t_staff

	</select>

	<insert id="addStudent" parameterType="com.qfedu.pojo.Student">
		insert into t_student(no,name,sex,birthday,cardno,school,education,gid,flag,email,qq,phone,introno,createdate) values(#{no},#{name},#{sex},#{birthday},#{cardno},#{school},#{education},#{gid},#{flag},#{email},#{qq},#{phone},#{introno},#{createdate})

	</insert>


	<!--  批量插入 -->
	<insert id="addBatch" parameterType="list">
		insert into t_student(no,name,sex,birthday,cardno,school,education,gid,flag,email,qq,phone,introno,createdate) values
		<foreach collection="list" item="stu" separator=",">
			(#{stu.no},#{stu.name},#{stu.sex},#{stu.birthday},#{stu.cardno},#{stu.school},#{stu.education},#{stu.gid},#{stu.flag},#{stu.email},#{stu.qq},#{stu.phone},#{stu.introno},#{stu.createdate})
		</foreach>

	</insert>

	<select id="selectByNo" parameterType="String" resultMap="stuMap">
		select * from t_student where no = #{no}
	</select>

	<delete id="studentdelete" parameterType="String">
		delete from t_student where no = #{no};
	</delete>

</mapper>